apiVersion: apps/v1
kind: Deployment
metadata:
  name: colorapp-deployment
  labels:
    app: employees

spec:
  replicas: 3
  selector:
    matchLabels:
      app: employees

  template:
    metadata:
      labels:
        app: employees

    spec:
      containers:
        - name: colorapp
          image: 103269930504.dkr.ecr.us-east-1.amazonaws.com/colorapp-awsecr:latest
          imagePullPolicy: Always
          env:
            - name: DBHOST
              value: "mysqldb.group5-db.svc.cluster.local"
            - name: DBUSER
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: username
            - name: DBPWD
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: password
            - name: DBPORT
              value: "3306"
            - name: GROUPNAME
              valueFrom:
                configMapKeyRef:
                name: colorapp-configmap
                key: groupCLO835
          ports:
              - containerPort: 8080
